{% extends "layout.html" %}
{% block content %}

<head>
    <div class="header">
        <h2>Lisää uusi kurssi</h2>
    </div>
</head>

<div>
    <p>Ohjeistus:</p><strong>Kurssin nimen tulee olla 1-25 merkkiä.
        Materiaalin kohdalle laitetaan linkki jollekin sivustolle, mistä materiaali löytyy.
        Erota tehtävien laatimisessa otsikko, kysymys ja vastaus toisistaan puolipilkulla ";".</strong>
</div>

<body>
    <form action="/create" method="post">
        <p>Kurssin nimi:
            <br>
            <input type="text" name="name" minlength="1" maxlength="25">
        <p>Materiaali:
            <br>
            <input type="text" name="material" minlength="1" maxlength="500">
        </p>
        <p>Otsikko;kysymys;vastaus:
            <br>
            <textarea name="words" rows="8" cols="40" maxlength="10000">
                pluslasku;1+1;2
                pluslasku;2+3;5
                pluslasku;15*3;45
            </textarea>
        </p>

        <input type="submit" value="Luo tehtäväsetti">
    </form>
    <br>
    <a href="/">Palaa takaisin</a>
</body>

{% endblock %}