{% extends "layout.html" %}
{% block content %}

<head>
    <div class="header">
        <h1>Etusivu</h1>
    </div>
</head>

<body>
    {% if message %}
    <div class="success">
        {{message}}
    </div>
    {% endif %}
    {% if session.user_id %}
    <p>Olet kirjautunut käyttäjänimellä {{ session.user_username }}</p>
    <a href="/logout">Kirjaudu ulos</a>
    <p>Valitse kurssi, jonka tehtäviä haluat tehdä:</p>
    <ul>
        {% for course in courses %}
        <li><a href = "/course/{{ course.id }}">{{ course.name }}</a></li>
        {% endfor %}
    </ul>
    {% if session.user_role == "2" %}
    <h3>Opettajan toiminnot:</h3>
    <ul>
        <li> <a href="/create">Luo uusi kurssi</a> </li>
        <li> <a href="/delete">Poista kurssi</a></li>
        <li> <a href="/stats">Katso tilastot</a></li>
    </ul>
    {% endif %}

    {% else %}
    <p>Et ole kirjautunut sisään.</p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/signup">Luo käyttäjä</a>
    {% endif %}

</body>

{% endblock %}