{% extends "layout.html" %}
{% block content %}

<head>
    <div class="header">
        <h2>Kirjaudu sisään</h2>
    </div>
</head>

<body>
    {% if message %}
    <div class="ermsg">
        {{message}}
    </div>
    {% endif %}
    <form action="/login" method="POST">
        <p>Käyttäjänimi:
        <br>
        <input type="text" name="username"></p>
        <p>Salasana:
        <br>
        <input type="password" name="password"></p>
        <input type="submit" value="Kirjaudu">
        </form>
        <br>
        <a href="/">Palaa takaisin</a>
</body>

{% endblock %}
